<div id="<%= dom_id aisle %>">
  <p>
    <strong>Aisle num:</strong>
    <%= aisle.aisle_num %>
  </p>

  <p>
    <strong>Aisle height:</strong>
    <%= aisle.aisle_height %>
  </p>

  <p>
    <strong>Aisle depth:</strong>
    <%= aisle.aisle_depth %>
  </p>

  <p>
    <strong>Aisle section width:</strong>
    <%= aisle.aisle_section_width %>
  </p>

  <p>
    <strong>Aisle sections:</strong>
    <%= aisle.aisle_sections %>
  </p>

  <p>
    <strong>Pair:</strong>
    <%= aisle.pair_id %>
  </p>

</div>
