<p style="color: green"><%= notice %></p>

<h1>
  <% if defined?(@store) && @store.present? %>
    All Aisles for Store <%= @store.store_num %>
  <% else %>
    Aisles for Pair <%= @pair.pair_nums %>
  <% end %>
</h1>

<div class="row">

 
    <% @aisles.sort_by{ |aisle| aisle.aisle_num }.each do |aisle| %>
    <div class="card col-2">
        Aisle: <%= link_to aisle.aisle_num, aisle %><br>
        Pair: <%= aisle.pair.pair_nums %><br>
        Store: <%= aisle.store.store_num %><br>
        Sections: <%= aisle.sections.count %><br>
        Articles: <%= aisle.planned_articles.count %>
        <%= link_to "Sections", aisle_sections_path(aisle)%>
    </div> 
    <% end %>
  


</div>