<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-3">
    <h1>Aisles</h1>

  </div>

  <div class="col-3">
    <%= link_to "New aisle", new_pair_aisle_path %>

  </div>

</div>

<div class="row">
  
    <% @aisles.each do |aisle| %>
<div class="card col-2 border-secondary ">
      <%= render aisle %>
      
        <%= link_to "Show this aisle", aisle %>

        <%= link_to "Sections", aisle_sections_path(aisle) %>
    
      </div>
    <% end %>
    
  </div>



