<p style="color: green"><%= notice %></p>

<h1>
  <% if @store.present? %>
    All Aisles for Store <%= @store.store_num %>
  <% elsif @pair.present? %>
    Aisles for Pair <%= @pair.pair_nums %>
  <% else %>
    All Aisles
  <% end %>
</h1>

<div class="row">

 
    <% @aisles.sort_by{ |aisle| aisle.aisle_num.to_i }.each do |aisle| %>
    <div class="card col-2">
        Aisle: <%= link_to aisle.aisle_num, aisle %><br>
        Pair: <%= aisle.pair.pair_nums %><br>
        <%# Store:  aisle.store.store_num <br> %>
        <% pas = aisle.planned_articles.map(&:pa).uniq %>

            Pa's:

            <ul class="pa-list">
  <% aisle.planned_articles.distinct.pluck(:pa).each do |pa| %>
    <%= link_to pa, "#", class: "pa-link" %><br>
  <% end %>
</ul>
        Sections: <%= aisle.sections.count %><br>
        Articles: <%= aisle.planned_articles.count %>
        <%= link_to "Sections", aisle_sections_path(aisle)%>
    </div> 
    <% end %>
  


</div>