<div id="<%= dom_id pair %>">
  <p>
    <strong>Pair nums:</strong>
    <%= pair.pair_nums %>
  </p>

  <p>
    <strong>Pair depth:</strong>
    <%= pair.pair_depth %>
  </p>

  <p>
    <strong>Pair height:</strong>
    <%= pair.pair_height %>
  </p>

  <p>
    <strong>Pair section width:</strong>
    <%= pair.pair_section_width %>
  </p>

  <p>
    <strong>Pair sections:</strong>
    <%= pair.pair_sections %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= pair.store_id %>
  </p>

</div>
