<div id="<%= dom_id pair %>">
  <p>
    <strong>Aisles:</strong>
    <%= link_to pair.pair_nums, pair %>
  </p>

  
  <p>
    <strong>Total Depth:</strong>
    <%= pair.pair_depth %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= pair.pair_height %>
  </p>

  <p>
    <strong>Section Width:</strong>
    <%= pair.pair_section_width %>
  </p>

  <p>
    <strong>Sections:</strong>
    <%= pair.pair_sections %>
  </p>

  

</div>
