<div class="row">

<div class="card col-3">
    <strong>Artno:</strong>
    <%= article.artno %>
  </p>

  <p>
    <strong>Artname unicode:</strong>
    <%= article.artname_unicode %>
  </p>

  <p>
    <strong>Baseonhand:</strong>
    <%= article.baseonhand %>
  </p>

  <p>
    <strong>Weight g:</strong>
    <%= article.weight_g %>
  </p>

  <p>
    <strong>Slid h:</strong>
    <%= article.slid_h %>
  </p>

 

  <p>
    <strong>Hfb:</strong>
    <%= article.hfb %>
  </p>

  <p>
    <strong>Expsale:</strong>
    <%= article.expsale %>
  </p>

  <p>
    <strong>Pa:</strong>
    <%= article.pa %>
  </p>
</div>

<div class="card col-3">
  <p>
    <strong>Salesmethod:</strong>
    <%= article.salesmethod %>
  </p>

  <p>
    <strong>Rssq:</strong>
    <%= article.rssq %>
  </p>




  <p>
    <strong>Sal sol indic:</strong>
    <%= article.sal_sol_indic %>
  </p>

  <p>
    <strong>Mpq:</strong>
    <%= article.mpq %>
  </p>



  <p>
    <strong>Palq:</strong>
    <%= article.palq %>
  </p>

  <p>
    <strong>Dt:</strong>
    <%= article.dt %>
  </p>
  </div>

  <div class="card col-3">

  <p>
    <strong>Cp height:</strong>
    <%= article.cp_height %>
  </p>

  <p>
    <strong>Cp length:</strong>
    <%= article.cp_length %>
  </p>

  <p>
    <strong>Cp width:</strong>
    <%= article.cp_width %>
  </p>

  <p>
    <strong>Cp diameter:</strong>
    <%= article.cp_diameter %>
  </p>

  <p>
    <strong>Cp weight gross:</strong>
    <%= article.cp_weight_gross %>
  </p>

  <p>
    <strong>Ul height gross:</strong>
    <%= article.ul_height_gross %>
  </p>

  <p>
    <strong>Ul length gross:</strong>
    <%= article.ul_length_gross %>
  </p>

  <p>
    <strong>Ul width gross:</strong>
    <%= article.ul_width_gross %>
  </p>

  <p>
    <strong>Ul diamter:</strong>
    <%= article.ul_diamter %>
  </p>

 
</div>


 <div class="card col-2">

 
  <p>
    <strong>New assq:</strong>
    <%= article.new_assq %>
  </p>

  <p>
    <strong>New loc:</strong>
       <%= article.section.aisle.aisle_num %>-<%= article.section.section_num %>-<%= article.level.level_num %>
  <p>

  <strong>Other locs:</strong>

    <h1><%= article.new_locs_display %></h1>


    <strong>Split rssq:</strong>
    <%= article.split_rssq %>
  </p>

  <p>
    <strong>Planned Quantity Remainder:</strong>
    <%= article.planned_quantity_remainder %>
  </p>

  

  <p>
    <strong>Planned?:</strong>
    <%= article.planned %>
  </p>

  <p>
    <strong>Part Planned?:</strong>
    <%= article.part_planned %>
  </p>



  <p>
    <strong>Store:</strong>
    <%= article.store_id %>
  </p>

   <p>
    <strong>SSD</strong>
    <%= article.ssd %>
  </p>

  <p>
    <strong>EDS</strong>
    <%= article.eds %>
  </p>
</div>



</div>