<p style="color: green"><%= notice %></p>

<%= button_to "Delete ALL Articles",
    destroy_all_store_articles_path(@store),
    method: :delete,
    data: {
      turbo_confirm: "⚠️ Are you sure?\n\nThis will permanently delete ALL articles for this store.\nThis action cannot be undone."
    },
    class: "btn btn-danger" %>


<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>



<%= link_to "New article", new_store_article_path %>
