<h5>Article Summary</h5>


<div class="row">
  <div class="col-4">
    <div class="row">
      <% @store.hfbs.each do |h| %>
        <div class="col-4 mb-1">
          <div class="card">
            <div class="card-body">
              <h5>HFB <%= h %></h5>
              Total: <%= @articles.where(hfb: h).count %><br>
              Planned: <%= @articles.where(hfb: h, planned: true).count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

   <div class="col-7">
    <div class="row">
      <% @store.pas.each do |p| %>
        <div class="col-3 ">
          <div class="card">
            <div class="card-body">
              <h5>PA <%= p %></h5>
              Total: <%= @articles.where(pa: p).count %><br>
              Planned: <%= @articles.where(pa: p, planned: true).count %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





	
	

	
