<div id="<%= dom_id store %>">
  <p>
    <strong>Store loc:</strong>
    <%= store.store_loc %>
  </p>

  <p>
    <strong>Store num:</strong>
    <%= store.store_num %>
  </p>

  <p>
    <%= link_to "Articles", store_articles_path(store) %> |
    
    <%= link_to "Aisle pairs", store_pairs_path(store) %> <br>
     <%= link_to "View all aisles", aisles_store_path(store) %> <br>

     <%= link_to "Altered Articles", altered_articles_store_articles_path(store_id: store.id) %>
  </p>

</div>
