<p style="color: green"><%= notice %></p>


<div class="row">
  <div class="col-2">
    <div class="card col-12">
      <%= render @store %>



      <div>
        <%= link_to "Edit this store", edit_store_path(@store) %> |
        <%= link_to "Back to stores", stores_path %>

        <%= button_to "Destroy this store", @store, method: :delete %>
      </div>
    </div>

  <%= link_to "Import Articles",
              new_import_store_articles_path(@store),
              class: "btn btn-primary" %>

    </div>


  
    
</div>


<h3>Import Pairs</h3>

<%= form_with url: import_pairs_csv_store_path(@store),
              method: :post,
              multipart: true,
              local: true do |form| %>

  <div>
    <%= form.file_field :file, accept: ".csv", required: true %>
  </div>

  <div>
    <%= form.submit "Upload Pairs CSV", class: "btn btn-primary" %>
  </div>

<% end %>