<div id="<%= dom_id section %>">
  <p>
    <strong>Section num:</strong>
    <%= section.section_num %>
  </p>

  <p>
    <strong>Section depth:</strong>
    <%= section.section_depth %>
  </p>

  <p>
    <strong>Section height:</strong>
    <%= section.section_height %>
  </p>

  <p>
    <strong>Section width:</strong>
    <%= section.section_width %>
  </p>

  <p>
    <strong>Aisle:</strong>
    <%= section.aisle_id %>
  </p>

</div>
